<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Gráfico | Sistema de Gestión</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/estilos.css">
    <link rel="icon" href="/static/img/logo.png">
</head>

<body>
    <div class="d-flex">
        <!-- Sidebar -->
        <aside id="sidebar" class="sidebar-toggle">           
            <div class="sidebar-logo">                
                <img  class="logo-grupo" src="/static/img/logo.png" alt="">
                <a href="#">Grupo Gráfico</a>
            </div>
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav p-0">
                <li class="sidebar-header">
                  Herramientas y Componentes
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link" onclick="mostrarSeccion('alumnos')">
                        <i class="lni lni-user"></i>
                        <span>Reg. de Alumnos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link" onclick="mostrarSeccion('grupo')">
                        <i class="lni lni-user"></i>
                        <span>Añadir Personas</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link" onclick="mostrarSeccion('evento')">
                        <i class="lni lni-agenda"></i>
                        <span>Eventos</span>
                    </a>
                </li>
                <li class="sidebar-header">
                    Eventos
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="true" aria-controls="auth">
                        <i class="lni lni-protection"></i>
                        <span>Pagos</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Login</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Register</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-popup"></i>
                        <span>Notification</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-cog"></i>
                        <span>Setting</span>
                    </a>
                </li>
            </ul>
            <!-- Sidebar Navigation Ends -->
            <div class="sidebar-footer">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Setting</span>
                </a>
            </div>
        </aside>
        <!-- Sidebar Ends -->
        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand">
                <button class="toggler-btn" type="button">
                    <i class="lni lni-text-align-left"></i>
                </button>
                <H3>SISTEMA DE GESTION</H3>
            </nav>
            <main class="p-3">
                {% with mensajes = get_flashed_messages(with_categories=true) %}
                {% if mensajes %}
                  <ul class="flashes" id="msgs">
                    {% for categoria, msg in mensajes %}
                      <li class="alert alert-{{ categoria }}" role="alert">{{ msg }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
                <div class="container-fluid">                  
                    <section id="alumnos" class="seccion">
                        <h2>Registro de Alumnos</h2>
                        <form action="/Registro" method="post">
                            <div class="from-group">
                                <label for="">Apellido y Nombre</label>
                                <input type="text" name="apenomb" class="form-control" required>
                            </div>
                            <div class="from-group">
                                <label for="">DNI</label>
                                <input type="text" name="dni" class="form-control" required>
                            </div>
                            <div class="from-group">
                                <label for="">Colegio</label>
                                <input type="text" name="colegio" class="form-control" required>
                            </div>
                            <div class="from-group">
                                <label for="">Nombre y Apellido del Tutor</label>
                                <input type="text" name="tutor" class="form-control" required>
                            </div>
                            <div class="from-group">
                                <label for="">DNI del Tutor</label>
                                <input type="text" name="dnitutor" class="form-control" required>
                            </div>
                            <div class="from-group">
                                <label for="">Teléfono de contacto</label>
                                <input type="text" name="telefono" class="form-control" required>
                            </div>
                            <input type="submit" name="registrar" value="Registrar" class="btn btn-primary mt-3">
                        </form>
                    </section>
            <!-- Seccion para agregar evento-->
                    <section id="evento" class="seccion">
                        <h2>Registrar Evento</h2>
                        <form action="/Evento" method="POST">
                            <div class="form-group">
                                <label for="Nombre del Evento">Nombre del Evento</label>
                                <input type="text" name="nombre" class="form-control" required>
                            </div>
                                <div class="form-group">
                                    <label for="Nombre del Evento">Fecha del Evento</label>
                                    <input type="date" name="fecha" class="form-control" required>
                                </div>
                                <input type="submit" name="enviar" value="Registrar" class="btn btn-primary mt-3">                           
                        </form>
                    </section>
                    <!-- Seccion de Grupo Familiares -->
                    <section id="grupo" class="seccion">
                        <h2>Añadir Personas</h2>
                        <form action="/RegGrupo" method="POST">
                            <div class="form-group">
                                <label for="Nombre del Evento">Seleccione el Alumno</label>
                               
                                <select name="alumno" id="" class="form-control">                                    
                                    <option disabled selected value="">--- Seleccione el Alumno ---</option>
                                    {%for alu in alumno%}
                                    <option value="{{alu[0]}}">{{alu[1]}}</option> 
                                    {%endfor%}                                                              
                                </select>
                                
                            </div>
                                <div class="form-group">
                                    <label for="Nombre del Evento">Apellido y Nombre</label>
                                    <input type="text" name="nombre" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Edad</label>
                                    <select name="edad" class="form-control">
                                        <option class="form-control" disabled selected value="">--- Seleccione la Edad ---</option>
                                        <option value="Mayor de Edad">Mayor de Edad</option>
                                        <option value="Menor de Edad">Menor de Edad</option>
                                    </select>
                                    <div class="form-group">
                                        <label for="">Tipo de Menú</label>
                                        <select name="tipo" class="form-control">
                                            <option disabled selected value="">--- Seleccione el Tipo de Menú ---</option>
                                            <option value="Celiaco">Celiaco</option>
                                            <option value="Vegetariano">Vegetariano</option>
                                            <option value="Vegano">Vegano</option>
                                            <option value="Otro">Otro</option>                                            
                                        </select>
                                </div>                                
                                <input type="submit" name="enviar" value="Registrar" class="btn btn-primary mt-3">                           
                        </form>
                    </section>
                    

                </div>

            </main>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
        <script>
            function mostrarSeccion(id) {
                const secciones = document.querySelectorAll('.seccion');
                secciones.forEach(seccion => {
                    seccion.classList.remove('visible');
                });

              // Ocultar los mensajes flash si existen
                const flashes = document.querySelectorAll('.flashes');
                flashes.forEach(flash => {
                    flash.innerHTML = ''; // Elimina los mensajes
                });
        
                const activa = document.getElementById(id);
                if (activa) {
                    activa.classList.add('visible');
                }
            }
        </script>
        
</body>

</html>